/* element selectors */
/* li{
    background-color: brown;
}
div{
    border: 3px solid black;
}
p{
    font-size: 30px;
} */

/* id selector */
/* #ashwani{
    background-color: bisque;
}
#special{
    font-size: 50px;
} */

/* class selector */
/* .praky{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* attribute selectors */
/* a[href="http://google.com"]{
    font-size: 50px;
    background-color: aquamarine;
}
input[disabled]{
    font-size:40px;
    background-color: aquamarine;
} */

/* universal */
body{
    border : 10px dotted red
}

* {
    border: 5px solod goldenrod;
}
