div{
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

/* hexadecimal */
/* div:nth-of-type(1){
    background-color: #44a923;
}
div:nth-of-type(2){
    background-color: #2244ee;
}
div:nth-of-type(3){
    background-color: #c82d1f;
} */

/* rgb */
/* div:nth-of-type(1){
    background-color: rgb(221, 45, 98);
}
div:nth-of-type(2){
    background-color: rgb(67, 230, 100);
}
div:nth-of-type(3){
    background-color: rgb(41, 102, 200);
} */

/* rgba */
 div:nth-of-type(1){
    background-color: rgba(221, 45, 98, 0.99);
}
div:nth-of-type(2){
    background-color: rgba(67, 230, 100,0.1);
}
div:nth-of-type(3){
    background-color: rgba(41, 102, 200,0.5);
} 
